* {
  padding: 0;
  margin: 0 auto;
  color: rgb(41, 77, 101); 
}
body {
  background-image: url("../../assets/images/nature-oblaka-nebo-poristii-minimalizm-157285.jpeg")  ;
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  /* background-size: cover;
  background-position-y: bottom; */
  user-select: none;   
  background-repeat: repeat-x;
  background-position-y: bottom;
}
a {
  list-style: none;
  text-decoration-line: none;
}
.logo{
  width: 150px;
  height: 70px;
  object-fit: cover;
}
.nav-header {
    width: 60%;
  }
.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 20px;
  font-size: 20px;
}
.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  width: 95%;
  margin-top: 30px;
  
}
.gallery-text {
  color: #274a57;
  font-size: 18px;
}
.photo {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}
.card {
  padding: 5px;
  font-size: 14px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  box-shadow:
  5px 5.2px 7.4px -2px rgba(0, 0, 0, 0.27),
  -12.2px -12.6px 15.5px -2px rgba(0, 0, 0, 0.202),
  -40.1px -41.7px 26.8px -2px rgba(0, 0, 0, 0.157),
  38.2px 39.6px 44.7px -2px rgba(0, 0, 0, 0.129),
  313px 325px 80px -2px rgba(0, 0, 0, 0.092)
;

}
.card:hover {
  scale: 1.01;
}
.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  padding: 5px;
  background-color: rgba(33, 74, 92, 0.2);
  box-shadow: 0px 4.8px 3.6px rgba(0, 0, 0, 0.101),
    0px 13.4px 10px rgba(0, 0, 0, 0.141), 0px 32.3px 24.1px rgba(0, 0, 0, 0.157),
    0px 107px 80px rgba(0, 0, 0, 0.15);
}
.footer-container {
  width: 70%;
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-img {
  width: 50px;
  height: 40px;
}

.wrapper-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgb(20, 20, 20, 0.4);
  justify-content: center;
  align-items: center;
}
.open-popup {
  display: flex;
}
.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgba(109, 141, 154, 0.95);
  border-radius: 10px;
  width: 450px;
  height: 90%;
  position: relative;
  font-size: 20px;
}
.close_popup {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.parent-current-questions {
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.current-img {
  margin-top: 10px;
}
.current-bird {
  width: 200px;
  height: 155px;
  object-fit: cover;
  border-radius: 10px;
}
.current-name {
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}
.current-song {
  width: 100%;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.time_play {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover {
  opacity: 1;
}

.player-icon:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}
.volumeImg-gallery {
  width: 30px;
  height: 32px;
  cursor: pointer;
}
.volumeImgOff-gallery {
  display: none;
  width: 30px;
  height: 32px;
  cursor: pointer;
}
.volume_container {
  display: flex;
  gap: 10px;
}
.volume-gallery {
  width: 100%;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: rgba(179, 191, 199, 0.7);
  border-radius: 5px;
  border: none;
}
input[type="range"] {
  appearance: none;
}
.volume-gallery::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: #478db0;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  display: inline;
}
.passive {
  display: none;
}
.progress_container-gallery {
  width: 100%;
  height: 12px;
  background-color: rgba(179, 191, 199, 0.7);
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.progress_container-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  margin-top: 15px;
}

.progress-gallery {
  position: absolute;
  background-color: rgba(19, 22, 24, 0.7);
  height: 7px;
  border-radius: 5px;
}

.play-gallery {
  width: 23px;
  height: 23px;
  background-size: 40px 40px;
  background-image: url("../../assets/images/play.svg");
}

.pause {
  background-image: url("../../assets/images/pause.svg");
}
.answer-info {
  font-size: 20px;
}
.lang-wrapper {
  display: flex;
}
@media (max-width: 770px) {
  .nav-header {
    width: 90%;
  }
  .nav-list {
    gap: 5px;
  }
}
@media (max-width: 530px) {
  
  .popup {
   
    width: calc(100% - 50px);
 font-size: 15px;
  }
  .answer-info {
    font-size: 16px;
  }
}