* {
  padding: 0;
  margin: 0 auto;
  color: #2d1645;
}
body {
  background-color: #c8d2ee;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='647' height='647' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23070C36' stroke-width='2.5'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2333456A'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E"); */
  font-family: "Mulish", sans-serif;
}
a {
  list-style: none;
  text-decoration-line: none;
}
.logo{
  width: 150px;
  height: 70px;
  object-fit: cover;
}
/* .nav-header {
    width: 70%;
  } */
.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 20px;
  font-size: 20px;
}
.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.photo {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 10px;
}
.card {
  padding: 10px;
  font-size: 14px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 4.8px 3.6px rgba(0, 0, 0, 0.101),
    0px 13.4px 10px rgba(0, 0, 0, 0.141), 0px 32.3px 24.1px rgba(0, 0, 0, 0.157),
    0px 107px 80px rgba(0, 0, 0, 0.15);
}
.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background-color: rgba(44, 69, 89, 0.5);
  box-shadow: 0px 4.8px 3.6px rgba(0, 0, 0, 0.101),
    0px 13.4px 10px rgba(0, 0, 0, 0.141), 0px 32.3px 24.1px rgba(0, 0, 0, 0.157),
    0px 107px 80px rgba(0, 0, 0, 0.15);
}
.footer-container {
  width: 70%;
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-img {
  width: 50px;
  height: 40px;
}

.wrapper_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgb(20, 20, 20, 0.4);
  justify-content: center;
  align-items: center;
}
.open-popup {
  display: flex;
}
.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #5d6b8f;
  border-radius: 10px;
  width: 450px;
  height: 90%;
  position: relative;
  font-size: 20px;
}
.close_popup {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.parent-current-questions {
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.current-img {
  margin-top: 10px;
}
.current-bird {
  width: 200px;
  height: 155px;
  object-fit: cover;
  border-radius: 10px;
}
.current-name {
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}
.current-song {
  width: 100%;
  border-top: 1px solid #adadc4;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.time_play {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon:hover {
  opacity: 1;
}

.player-icon:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}
.volumeImg-gallery {
  width: 30px;
  height: 32px;
  cursor: pointer;
}
.volumeImgOff-gallery {
  display: none;
  width: 30px;
  height: 32px;
  cursor: pointer;
}
.volume_container {
  display: flex;
  gap: 10px;
}
.volume-gallery {
  width: 100%;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: rgba(179, 191, 199, 0.3);
  border-radius: 5px;
  border: none;
}
input[type="range"] {
  appearance: none;
}
.volume-gallery::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: #a9bdef;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  display: inline;
}
.passive {
  display: none;
}
.progress_container-gallery {
  width: 100%;
  height: 12px;
  background-color: rgba(179, 191, 199, 0.3);
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.progress_container-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  margin-top: 15px;
}

.progress-gallery {
  position: absolute;
  background-color: rgba(19, 22, 24, 0.5);
  height: 7px;
  border-radius: 5px;
}

.play-gallery {
  width: 23px;
  height: 23px;
  background-size: 40px 40px;
  background-image: url("../../assets/images/play.svg");
}

.pause {
  background-image: url("../../assets/images/pause.svg");
}
.answer-info {
  font-size: 20px;
}
@media (max-width: 530px) {
  .popup {
   
    width: calc(100% - 50px);
 font-size: 15px;
  }
  .answer-info {
    font-size: 16px;
  }
}